<div class="container">

    <div class="banner">
        <img src="https://file.hstatic.net/200000722513/file/gearvn-laptop-van-phong-t4.jpg" alt="Banner Sale Mùa Hè">
    </div>

    <div class="filters">
        <button>Bộ lọc</button>
        <select>
            <option>Tình trạng sản phẩm</option>
        </select>
        <select>
            <option>Giá</option>
        </select>
        <select>
            <option>Hãng</option>
        </select>
        <select>
            <option>CPU</option>
        </select>
        <select>
            <option>Kích thước màn hình</option>
        </select>
        <select>
            <option>Nhu cầu sử dụng</option>
        </select>
        <select>
            <option>RAM</option>
        </select>
        <select>
            <option>SSD</option>
        </select>
        <select>
            <option>VGA</option>
        </select>
        <select>
            <option>Xếp theo: Nổi bật</option>
        </select>
    </div>

    <div class="products">
        <div class="product-card">
            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcR-ZnyIxMBnv20K63mYldrUwcDC-5Hh_gcmLltiOSXIKa_4BIFUbE4brTNj_Lk_k5f-uML81QGYMWl6u415LymXRBgYq4ppfaq7hBlpmAtWo8xkcqMPd9bmvcGeztxztFnD7xGgVA&usqp=CAc"
                alt="Chuột 1">
            <div class="title">Chuột không dây MonsGeek D1 Pink</div>
            <div class="features">
                <span>Pin sạc</span>
                <span>Có dây</span>
            </div>
            <div class="price">
                <div><span class="new-price">120.000₫</span></div>
            </div>
        </div>
    </div>


</div>