<div class="container" (mouseleave)="toggleSubMenu(false, '')">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="menu-item" (mouseenter)="toggleSubMenu(true, 'Laptop'); loadProductPropertyNamesOfFilter('Laptop')"
            [routerLink]="['/product']" 
            [queryParams]="{ ProductTypeName: 'Laptop' , FilterID :GetFilterID('Laptop') }">
            <span><i>💻</i> Laptop</span> ➤
        </div>
        <div class="menu-item"
            (mouseenter)="toggleSubMenu(true, 'Mành hình'); loadProductPropertyNamesOfFilter('Màn hình')"
            [routerLink]="['/product']"
            [queryParams]="{ ProductTypeName: 'Màn hình', FilterID :GetFilterID('Màn hình')}">
            <span><i class="fa-solid fa-desktop"></i> Màn hình</span> ➤
        </div>
        <div class="menu-item"
            (mouseenter)="toggleSubMenu(true, 'Tai nghe'); loadProductPropertyNamesOfFilter('Tai nghe')"
            [routerLink]="['/product']"
            [queryParams]="{ ProductTypeName: 'Tai nghe',FilterID :GetFilterID('Tai nghe') }">
            <span><i>🎧</i> Tai
                Nghe</span> ➤
        </div>
        <div class="menu-item"
            (mouseenter)="toggleSubMenu(true, 'Bàn phím'); loadProductPropertyNamesOfFilter('Bàn phím')"
            [routerLink]="['/product']"
            [queryParams]="{ ProductTypeName: 'Bàn phím' , FilterID :GetFilterID('Bàn phím')}">
            <span><i>⌨️</i> Bàn
                phím</span> ➤
        </div>
        <div class="menu-item" (mouseenter)="toggleSubMenu(true, 'Chuột'); loadProductPropertyNamesOfFilter('Chuột')"
            [routerLink]="['/product']"
             [queryParams]="{ ProductTypeName: 'Chuột' , FilterID :GetFilterID('Chuột')}">
            <span><i>🖱️</i> Chuột</span> ➤
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="sub-menu" *ngIf="showSubMenu">
            <div class="sub-menu-column" *ngFor="let propName of productPropertyNamesOfFilter">
                <h3>{{propName}}</h3>
                <ul *ngFor="let propDes of loadPropDes(propName)">
                    <li [routerLink]="['/product']" [queryParams]="
                    { 
                        ProductTypeName: ProductTypeName,          
                        FilterID : GetFilterID(ProductTypeName),     
                        ProductPropertyID: GetProductPropertyID(propName, propDes),
                    }">
                        {{propDes}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Top Section -->
        <div class="top-section">
            <div class="banner">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_laptop_gaming_banner_web_slider_800x400.jpg"
                    alt="Banner chính" />
            </div>
            <div class="side-images">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_layout_web_-08.png" alt="Màn hình" />
                <img src="https://file.hstatic.net/200000722513/file/thang_04_layout_web_-04.png" alt="Laptop" />
            </div>
        </div>

    </div>
</div>


<div class="container-list-product">
    <div class="header-list-product">
        <h2>Chuột nổi bật</h2>
        <div class="nav-list-product">
            <a *ngFor="let pp of GetProductPropertiesFilterData('HomeMouse')" [routerLink]="['/product']" [queryParams]="{ 
                     ProductTypeName: 'Chuột',         
                     FilterID : GetFilterID('Chuột'),     
                     ProductPropertyID: pp.ID
                   }">
                {{pp.Description}}
            </a>
            <a [routerLink]="['/product']"
                [queryParams]="{ ProductTypeName: 'Chuột' , FilterID :GetFilterID('Chuột') }">Xem tất cả</a>
        </div>
    </div>
    <div class="products">
        <div [routerLink]="['/product-detail', product.ID]" class="product-card" *ngFor="let product of latestMice">
            <img [src]="product.Image || 'đường/dẫn/đến/ảnh_chuột_mặc_định.png'" alt="{{ product.Name }}">
            <div class="title">{{ product.Name }}</div>
            <div class="price">
                <div><span class="new-price">{{ product.Price | currency:'VND':'symbol':'1.0-0' }}</span></div>
            </div>
            <a [routerLink]="['/product-detail', product.ID]" class="checkout-btn">Mua ngay</a>
        </div>
        <p *ngIf="latestMice.length === 0" class="no-products-message">Không tìm thấy chuột nổi bật nào.</p>
    </div>
</div>


<div class="container-list-product">
    <div class="header-list-product">
        <h2>Laptop nổi bật</h2>
        <div class="nav-list-product">
            <a *ngFor="let pp of GetProductPropertiesFilterData('HomeLaptop')" [routerLink]="['/product']"
                [queryParams]="
                    { 
                        ProductTypeName: 'Laptop',          
                        FilterID : GetFilterID('Laptop'),     
                        ProductPropertyID: pp.ID
                    }">
                {{pp.Description}} </a>

            <a [routerLink]="['/product']"
                [queryParams]="{ ProductTypeName: 'Laptop' , FilterID :GetFilterID('Laptop') }">Xem tất cả</a>
        </div>
    </div>
    <div class="products">
        <div [routerLink]="['/product-detail', product.ID]" class="product-card" *ngFor="let product of latestLaptops">
            <img [src]="product.Image || 'đường/dẫn/đến/ảnh_laptop_mặc_định.png'" alt="{{ product.Name }}">
            <div class="title">{{ product.Name }}</div>
            <div class="price">
                <div><span class="new-price">{{ product.Price | currency:'VND':'symbol':'1.0-0' }}</span></div>
            </div>
            <a [routerLink]="['/product-detail', product.ID]" class="checkout-btn">Mua ngay</a>
        </div>
        <p *ngIf="latestLaptops.length === 0" class="no-products-message">Không tìm thấy laptop nổi bật nào.</p>
    </div>
</div>

<div class="container-list-product">
    <div class="header-list-product">
        <h2>Màn hình nổi bật</h2>
        <div class="nav-list-product">
            <a *ngFor="let pp of GetProductPropertiesFilterData('HomeScreen')" [routerLink]="  ['/product']"
                [queryParams]="
                    { 
                        ProductTypeName: 'Màn hình',          
                        FilterID : GetFilterID('Màn hình'),     
                        ProductPropertyID: pp.ID
                    }">
                {{pp.Description}}</a>
            <a [routerLink]="['/product']"
                [queryParams]="{ ProductTypeName: 'Màn hình' , FilterID :GetFilterID('Màn hình') }">Xem tất cả</a>
        </div>
    </div>
    <div class="products">
        <div [routerLink]="['/product-detail', product.ID]" class="product-card" *ngFor="let product of latestMonitors">
            <img [src]="product.Image || 'đường/dẫn/đến/ảnh_manhinh_mặc_định.png'" alt="{{ product.Name }}">
            <div class="title">{{ product.Name }}</div>
            <div class="price">
                <div><span class="new-price">{{ product.Price | currency:'VND':'symbol':'1.0-0' }}</span></div>
            </div>
            <a [routerLink]="['/product-detail', product.ID]" class="checkout-btn">Mua ngay</a>
        </div>
        <p *ngIf="latestMonitors.length === 0" class="no-products-message">Không tìm thấy màn hình nổi bật nào.</p>
    </div>
</div>

<div class="container-list-product">
    <div class="header-list-product">
        <h2>Tai nghe nổi bật</h2>
        <div class="nav-list-product">
            <a *ngFor="let pp of GetProductPropertiesFilterData('HomeEar')" [routerLink]="  ['/product']" [queryParams]="
                    { 
                        ProductTypeName: 'Tai nghe',          
                        FilterID : GetFilterID('Tai nghe'),     
                        ProductPropertyID: pp.ID
                    }">
                {{pp.Description}}</a>
            <a [routerLink]="['/product']"
                [queryParams]="{ ProductTypeName: 'Tai nghe' , FilterID :GetFilterID('Tai nghe') }">Xem tất cả</a>
        </div>
    </div>
    <div class="products">
        <div [routerLink]="['/product-detail', product.ID]" class="product-card"
            *ngFor="let product of latestHeadphones"> <img
                [src]="product.Image || 'đường/dẫn/đến/ảnh_tainghe_mặc_định.png'" alt="{{ product.Name }}">
            <div class="title">{{ product.Name }}</div>
            <div class="price">
                <div><span class="new-price">{{ product.Price | currency:'VND':'symbol':'1.0-0' }}</span></div>
            </div>
            <a [routerLink]="['/product-detail', product.ID]" class="checkout-btn">Mua ngay</a>
        </div>
        <p *ngIf="latestHeadphones.length === 0" class="no-products-message">Không tìm thấy tai nghe nổi bật nào.</p>
    </div>
</div>

<div class="container-list-product">
    <div class="header-list-product">
        <h2>Bàn phím nổi bật</h2>
        <div class="nav-list-product">
            <a *ngFor="let pp of GetProductPropertiesFilterData('HomeKeyBoard')" [routerLink]="  ['/product']"
                [queryParams]="
                    { 
                        ProductTypeName: 'Bàn phím',          
                        FilterID : GetFilterID('Bàn phím'),     
                        ProductPropertyID: pp.ID
                    }">
                {{pp.Description}} </a>

            <a [routerLink]="['/product']"
                [queryParams]="{ ProductTypeName: 'Bàn phím' , FilterID :GetFilterID('Bàn phím') }">Xem tất cả</a>
        </div>
    </div>
    <div class="products">
        <div [routerLink]="['/product-detail', product.ID]" class="product-card"
            *ngFor="let product of latestKeyboards"> <img
                [src]="product.Image || 'đường/dẫn/đến/ảnh_banphim_mặc_định.png'" alt="{{ product.Name }}">
            <div class="title">{{ product.Name }}</div>
            <div class="price">
                <div><span class="new-price">{{ product.Price | currency:'VND':'symbol':'1.0-0' }}</span></div>
            </div>
            <a [routerLink]="['/product-detail', product.ID]" class="checkout-btn">Mua ngay</a>
        </div>
        <p *ngIf="latestKeyboards.length === 0" class="no-products-message">Không tìm thấy bàn phím nổi bật nào.</p>
    </div>
</div>