<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="menu-item" (mouseenter)="toggleSubMenu(true, '')" (mouseleave)="toggleSubMenu(false, '')">
            <span><i>💻</i> Laptop</span> ➤
        </div>
        <div class="menu-item"><span><i class="fa-solid fa-desktop"></i> Màn hình</span> ➤</div>
        <div class="menu-item"><span><i>🎧</i> Tai Nghe</span> ➤</div>
        <div class="menu-item"><span><i>⌨️</i> Bàn phím</span> ➤</div>
        <div class="menu-item"><span><i>🖱️</i> Chuột</span> ➤</div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="sub-menu">
            <div class="sub-menu-column">
                <h3>Thương hiệu</h3>
                <ul>
                    <li>ASUS</li>
                    <li>ACER</li>
                    <li>MSI</li>
                    <li>LENOVO</li>
                    <li>DELL</li>
                    <li>HP - Pavilion</li>
                    <li>LG - Gram</li>
                </ul>
            </div>
        </div>
        <!-- Top Section -->
        <div class="top-section">
            <div class="banner">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_laptop_gaming_banner_web_slider_800x400.jpg"
                    alt="Banner chính" />
            </div>
            <div class="side-images">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_layout_web_-08.png" alt="Màn hình" />
                <img src="https://file.hstatic.net/200000722513/file/thang_04_layout_web_-04.png" alt="Laptop" />
            </div>
        </div>

    </div>
</div>



<div class="container-list-product">
    <div class="header-list-product">
        <h2>Chuột bán chạy</h2>
        <div class="nav-list-product">
            <a href="#">Logitech</a>
            <a href="#">Razer</a>
            <a href="#">Asus</a>
            <a href="#">Corsair</a>
            <a href="#">Dare-U</a>
            <a href="#">Rapoo</a>
            <a href="#">Xem tất cả</a>
        </div>
    </div>

    <div class="products">
        <div class="product-card">
            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcR-ZnyIxMBnv20K63mYldrUwcDC-5Hh_gcmLltiOSXIKa_4BIFUbE4brTNj_Lk_k5f-uML81QGYMWl6u415LymXRBgYq4ppfaq7hBlpmAtWo8xkcqMPd9bmvcGeztxztFnD7xGgVA&usqp=CAc"
                alt="Chuột 1">
            <div class="title">Chuột không dây MonsGeek D1 Pink</div>
            <div class="features">
                <span><span style="margin-right: 5px;">🔋</span>Pin sạc</span>
                <span>Có dây</span>
            </div>
            <div class="price">
                <div><span class="new-price">120.000₫</span></div>
            </div>
        </div>
    </div>
</div>