<div class="main-content">
    <div class="main-header">
        <div class="tabs">
            <h1>SẢN PHẨM</h1>
        </div>
        <div class="actions">
            <input type="text" placeholder="Tìm kiếm...">
            <select>
                <option>Dropdown 1</option>
                <option>Dropdown 2</option>
            </select>
            <button
                style="background-color: #1abc9c; color: white; padding: 10px 20px; border: none; 
                border-radius: 5px; cursor: pointer; font-size: 20px">
                Thêm sản phẩm
            </button>
        </div>
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="name">TÊN</th>
                    <th class="image">ẢNH</th>
                    <th class="amount">SỐ LƯỢNG</th>
                    <th>GIÁ</th>
                    <th class="status">TRẠNG THÁI</th>
                    <th class="action">HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Laptop gaming MSI Katana 15 B13VFK 676VN</td>
                    <td class="image">
                        <img src="https://product.hstatic.net/200000722513/product/676vn_21da8c4630014f808b321b3d32118291_69f68ad8d3be44b385bb3da80ec4a9ee_1024x1024.png"
                            alt="Sản phẩm" style="border-radius: 5px;">
                    </td>
                    <td>10000</td>
                    <td>100,000đ</td>
                    <td class="status">Còn hàng</td>
                    <td class="actions">
                        <button class="edit">Sửa</button>
                        <button class="delete">Xóa</button>
                        <button class="detail">Chi tiết</button>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Sản phẩm B</td>
                    <td>
                        <img src="https://product.hstatic.net/200000722513/product/a75__2__dc0221772d8b4238a7c17c17207f1273_1024x1024.png"
                            alt="Sản phẩm" style="border-radius: 5px;">
                    </td>
                    <td>5</td>
                    <td>50,000đ</td>
                    <td class="status">Hết hàng</td>
                    <td class="actions">
                        <button class="edit">Sửa</button>
                        <button class="delete">Xóa</button>
                        <button class="detail">Chi tiết</button>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Laptop gaming MSI Katana 15 B13VFK 676VN</td>
                    <td class="image">
                        <img src="https://product.hstatic.net/200000722513/product/676vn_21da8c4630014f808b321b3d32118291_69f68ad8d3be44b385bb3da80ec4a9ee_1024x1024.png"
                            alt="Sản phẩm" style="border-radius: 5px;">
                    </td>
                    <td>10000</td>
                    <td>100,000đ</td>
                    <td class="status">Còn hàng</td>
                    <td class="actions">
                        <button class="edit">Sửa</button>
                        <button class="delete">Xóa</button>
                        <button class="detail">Chi tiết</button>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Sản phẩm B</td>
                    <td>
                        <img src="https://product.hstatic.net/200000722513/product/a75__2__dc0221772d8b4238a7c17c17207f1273_1024x1024.png"
                            alt="Sản phẩm" style="border-radius: 5px;">
                    </td>
                    <td>5</td>
                    <td>50,000đ</td>
                    <td class="status">Hết hàng</td>
                    <td class="actions">
                        <button class="edit">Sửa</button>
                        <button class="delete">Xóa</button>
                        <button class="detail">Chi tiết</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>