<div class="navbar">
  <div class="navbar-logo">
    <img src="https://file.hstatic.net/200000636033/file/logo_fd11946b31524fbe98765f34f3de0628.svg" alt="Logo">
  </div>

  <div class="navbar-menu-button">
    <i class="fas fa-bars"></i>
    <span>Danh mục</span>
  </div>

  <div class="navbar-search">
    <input type="text" placeholder="Bạn cần tìm gì?">
    <button><i class="fas fa-search"></i></button>
  </div>

  <div class="navbar-icons">
    <div class="navbar-icon"><i class="fas fa-clipboard-list"></i> <span>Tra cứu<br>đơn hàng</span></div>
    <div class="navbar-icon"><i class="fas fa-shopping-cart"></i> <span>Giỏ<br>hàng</span></div>
    <div class="navbar-login">
      <i class="fas fa-user"></i> <span>Đăng nhập</span>
      <div class="login-dropdown">
        <div class="login-message">
          👋 <span>Xin chào, vui lòng đăng nhập</span>
        </div>
        <div class="login-buttons">
          <div class="btn btn-login">ĐĂNG NHẬP</div>
          <div class="btn btn-register">ĐĂNG KÝ</div>
        </div>
      </div>
    </div>
  </div>
</div>