<div class="navbar">
  <div class="overlay" *ngIf="isDisplayOverlay" (click)="DisplayOverlay(false)"></div>
  <div class="navbar-logo">
    <img src="https://file.hstatic.net/200000636033/file/logo_fd11946b31524fbe98765f34f3de0628.svg" alt="Logo">
  </div>

  <div class="navbar-menu-button" (click)="ClickCategory(true)">
    <i class="fas fa-bars"></i>
    <span>Danh mục</span>

    <div class="sidebar" *ngIf="isClickedCategory">
      <div class="menu-item"><span><i>💻</i> Laptop</span> ➤</div>
      <div class="menu-item"><span><i class="fa-solid fa-desktop"></i> Màn hình</span> ➤</div>
      <div class="menu-item"><span><i>🎧</i> Tai Nghe</span> ➤</div>
      <div class="menu-item"><span><i>⌨️</i> Bàn phím</span> ➤</div>
      <div class="menu-item"><span><i>🖱️</i> Chuột</span> ➤</div>
    </div>

  </div>

  <div class="navbar-search">
    <input type="text" placeholder="Bạn cần tìm gì?">
    <button><i class="fas fa-search"></i></button>
  </div>

  <div class="navbar-icons">
    <div class="navbar-icon"><i class="fas fa-clipboard-list"></i> <span>Tra cứu<br>đơn hàng</span></div>
    <div class="navbar-icon"><i class="fas fa-shopping-cart"></i> <span>Giỏ<br>hàng</span></div>
    <div class="navbar-login">
      <i class="fas fa-user"></i> <span>Đăng nhập</span>

      <div class="login-dropdown">
        <div class="login-message">
          👋 <span>Xin chào, vui lòng đăng nhập</span>
        </div>
        <div class="login-buttons">
          <div class="btn btn-login" (click)="ClickLogin(true)">ĐĂNG NHẬP</div>
          <div class="btn btn-register" (click)="ClickRegister(true)">ĐĂNG KÝ</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isClickedRegister">
  <div class="modal-content">
    <span class="close-button"  (click)="DisplayOverlay(false)">×</span>
    <h2>ĐĂNG KÝ TÀI KHOẢN FGEARVN</h2>

    <form>
      <div class="form-group">
        <input type="email" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" placeholder="Họ">
      </div>

      <div class="form-group">
        <input type="text" placeholder="Tên">
      </div>

      <div class="form-group">
        <input type="password" placeholder="Mật khẩu">
      </div>

      <button type="submit" class="submit-button">TẠO TÀI KHOẢN</button>
    </form>

    <p class="login-register-text">
      Bạn đã có tài khoản? <a href="#" class="login-register-link ">Đăng nhập!</a>
    </p>
  </div>
</div>

<div class="modal" *ngIf="isClickedLogin">
  <div class="modal-content">
    <span class="close-button"  (click)="DisplayOverlay(false)">×</span>
    <h2>ĐĂNG NHẬP TÀI KHOẢN FGEARVN</h2>

    <form>
      <div class="form-group">
        <input type="email" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="password" placeholder="Mật khẩu">
      </div>

      <button type="submit" class="submit-button">ĐĂNG NHẬP</button>
    </form>

    <p class="login-register-text">
     Bạn chưa có tài khoản?  <a href="#" class="login-register-link "> Đăng ký ngay!</a>
    </p>
  </div>
</div>