<div class="product-container">
    <div class="product-images">
        <div class="main-image">
            <img src="https://anphat.com.vn/media/product/51645_laptop_asus_rog_strix_g16_g614ju_n3480w__2_.jpg"
                alt="Acer Nitro Lite 16 Gaming Laptop">
        </div>
        <div class="thumbnail-container">
            <div class="thumbnail active">
                <img src="https://anphat.com.vn/media/product/51645_laptop_asus_rog_strix_g16_g614ju_n3480w__2_.jpg"
                    alt="Thumbnail 1">
            </div>
            <div class="thumbnail">
                <img src="https://anphat.com.vn/media/product/51645_laptop_asus_rog_strix_g16_g614ju_n3480w__1_.jpg"
                    alt="Thumbnail 2">
            </div>
            <div class="thumbnail">
                <img src="https://anphat.com.vn/media/product/51645_laptop_asus_rog_strix_g16_g614ju_n3480w__4_.jpg"
                    alt="Thumbnail 3">
            </div>
            <div class="thumbnail">
                <img src="https://anphat.com.vn/media/product/51645_laptop_asus_rog_strix_g16_g614ju_n3480w__3_.jpg"
                    alt="Thumbnail 4">
            </div>
        </div>
        <div class="list-product-container">
            <div class="arrow-left-button">
                <i class="fa-solid fa-chevron-left"></i>
            </div>

            <h2>Sản phẩm tương tự</h2>
            <div class="product-list">
                <div class="product-card">
                    <img src="https://product.hstatic.net/200000722513/product/gaming-aspire-7-2025-a715-59g-bi__1__e47b793ac28543efbd433c1f47b71b9a.png"
                        alt="Laptop 1" />
                    <div class="product-title">Laptop gaming Acer Nitro 5 ANV15 51 53DM</div>
                    <div class="final-price">22.990.000đ</div>
                </div>

                <div class="product-card">
                    <img src="https://product.hstatic.net/200000722513/product/gaming-aspire-7-2025-a715-59g-bi__1__e47b793ac28543efbd433c1f47b71b9a.png"
                        alt="Laptop 1" />
                    <div class="product-title">Laptop gaming Acer Nitro 5 ANV15 51 53DM</div>
                    <div class="final-price">22.990.000đ</div>
                </div>
            </div>

            <div class="arrow-right-button">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="product-info">
        <h1 class="product-title">Laptop gaming Acer Nitro Lite 16 NL16 71G 56WQ</h1>
        <div class="product-price">20.990.000đ</div>
        <button class="buy-button">
            <div class="button-title">THÊM VÀO GIỎ HÀNG</div>
            <div class="button-subtitle">Giao tận nơi hoặc nhận tại cửa hàng</div>
        </button>


        <!-- Product Specifications -->
        <div class="product-specs">
            <h2 class="specs-title">Thông tin sản phẩm</h2>
            <h3 class="specs-subtitle">Thông số kỹ thuật:</h3>
            <table class="specs-table">
                <tr>
                    <td>CPU</td>
                    <td>Intel® Core™ i5-13420H (Upto 4.6 GHz/ 12MB/ 8 nhân, 12 luồng)</td>
                </tr>
                <tr>
                    <td>Ram</td>
                    <td>16GB (8GB Onboard + 8GB Sodimm) DDR5 4800MHz (1x SO-DIMM socket, up to 56GB SDRAM)</td>
                </tr>
                <tr>
                    <td>Ram</td>
                    <td>16GB (8GB Onboard + 8GB Sodimm) DDR5 4800MHz (1x SO-DIMM socket, up to 56GB SDRAM)</td>
                </tr>
                <tr>
                    <td>Ổ cứng</td>
                    <td>512GB PCIe NVMe SED SSD (Tổng 1 khe SSD M.2 PCIE, nâng cấp tối đa 2TB)</td>
                </tr>
                <tr>
                    <td>Card đồ họa</td>
                    <td>NVIDIA® GeForce® RTX™ 3050 with 6 GB of dedicated GDDR6 VRAM, supporting 2560 NVIDIA® CUDA®
                        Cores.</td>
                </tr>
                <tr>
                    <td>Màn hình</td>
                    <td>16" 16:10 WUXGA (1920×1200) IPS, 165Hz, 300nits, 45% NTSC, Acer ComfyView™, LED-backlit TFT LCD,
                        Wide viewing angle up to 170 degrees</td>
                </tr>
            </table>
            <div class="detail-button-container">
                <a href="#" class="detail-button">Xem cấu hình chi tiết</a>
            </div>
        </div>
    </div>

</div>

<div class="product-describe">
    <h1>Đánh giá chi tiết sản phẩm Laptop gaming ASUS ROG Strix G16 G614JU N3480W</h1>

    <p>
        Laptop gaming ASUS ROG Strix G16 G614JU N3480W là chiếc laptop gaming được nhiều người săn đón
        với hiệu năng vượt trội khi được trang bị bộ vi xử lý Intel® Core™ i5-13450HX thế hệ mới nhất cùng với
        khả năng đồ họa cao NVIDIA® GeForce RTX™ 4050 để bạn có thể thỏa sức chiến các <a href="#"
            class="gaming-link">game AAA</a> nặng
        cũng như xử lý các công việc đồ họa.
    </p>

    <h2>Thiết kế sang trọng, đầy cá tính</h2>

    <p>
        Dòng sản phẩm <a href="#" class="gaming-link">laptop gaming ASUS ROG</a> được thiết kế hướng đến các game thủ dù
        là từ ngoại hình,
        khung máy hay các chức năng đều được suy tính dựa trên trải nghiệm chơi game của các gamer. ASUS
        ROG Strix G16 G614JU N3480W gây ấn tượng ngay từ cái nhìn đầu tiên với thiết kế Pixel Art độc đáo, đậm
        chất gaming. Các đường cắt sắc nét trên thân máy không chỉ tạo điểm nhấn thẩm mỹ mà còn góp phần
        tăng cường độ cứng cáp cho sản phẩm.
    </p>

    <p>
        Bên cạnh đó, thiết kế chân đế cao su giúp máy ổn định hơn khi đặt trên bề mặt, đồng thời tạo khoảng
        trống để không khí lưu thông tốt hơn, đảm bảo máy luôn mát mẻ khi hoạt động ở cường độ cao. Với vẻ
        ngoài phong cách, laptop ASUS ROG Strix G16 chỉ nặng khoảng 2.5 kg làm.
    </p>
</div>