<div class="modal-content">
  <span class="close-button" (click)="CloseSignUpForm()">X</span>
  <h2>ĐĂNG KÝ TÀI KHOẢN FGEARVN</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div class="form-group">
      <input type="Email" formControlName="Email" placeholder="Email" [class.invalid]="isFieldInvalid('Email')" />
      <div class="error-message" *ngIf="isFieldInvalid('Email')">
        Email không hợp lệ hoặc không được để trống.
      </div>
    </div>

    <!-- Tên -->
    <div class="form-group">
      <input type="text" formControlName="Name" placeholder="Tên" [class.invalid]="isFieldInvalid('Name')" />
      <div class="error-message" *ngIf="isFieldInvalid('Name')">
        Tên không được để trống.
      </div>
    </div>

    <!-- Giới tính -->
    <div class="form-group">
      <select formControlName="Gender" [class.invalid]="isFieldInvalid('Gender')">
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
      <div class="error-message" *ngIf="isFieldInvalid('Gender')">
        Bạn phải chọn giới tính.
      </div>
    </div>

    <!-- Số điện thoại -->
    <div class="form-group">
      <input type="text" formControlName="Phone" placeholder="Số điện thoại"
        [class.invalid]="isFieldInvalid('Phone')" />
      <div class="error-message" *ngIf="isFieldInvalid('Phone')">
        Số điện thoại có 10 chữ số, không được để trống và chỉ chứa số.
      </div>
    </div>

    <!-- Địa chỉ -->
    <div class="form-group">
      <input type="text" formControlName="Address" placeholder="Địa chỉ" [class.invalid]="isFieldInvalid('Address')" />
      <div class="error-message" *ngIf="isFieldInvalid('Address')">
        Địa chỉ không được để trống.
      </div>
    </div>

    <!-- Mật khẩu -->
    <div class="form-group">
      <input type="Password" formControlName="Password" placeholder="Mật khẩu"
        [class.invalid]="isFieldInvalid('Password')" />
      <div class="error-message" *ngIf="isFieldInvalid('Password')">
        Mật khẩu phải có ít nhất 6 ký tự và tối đa 50 ký tự.
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-button" [disabled]="registerForm.invalid">
      TẠO TÀI KHOẢN
    </button>
  </form>

  <!-- Backend error message -->
  <div class="server-error-message" *ngIf="backendError">
    {{ backendError }}
  </div>

  <p class="login-register-text">
    Bạn đã có tài khoản? <a href="#" class="login-register-link">Đăng nhập!</a>
  </p>
</div>