<div class="sidebar">
    <div class="logo"><img src="https://file.hstatic.net/200000636033/file/logo_fd11946b31524fbe98765f34f3de0628.svg">
    </div>
    <button [routerLink]="['/product']">Sản phẩm</button>
    <button [routerLink]="['/product-type']">Loại sản phẩm</button>
    <button [routerLink]="['/product-brand']">Hãng sản phẩm</button>
    <button [routerLink]="['/property']">Thuộc tính sản phẩm</button>
    <button [routerLink]="['/content-management']">Nội dung trang</button>
    <button (click)="OnClickLogOut()">Đăng xuất</button>
</div>