<div class="form-container">
  <button (click)="CloseCreateProperty()" class="close-button" id="closeButton">&times;</button>
  <h1>Tạo mới thuộc tính sản phẩm</h1>
  <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Tên thuộc tính</label>
      <input 
        type="text" 
        id="name" 
        formControlName="name" 
        placeholder="Nhập tên thuộc tính"
      />
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
        <div *ngIf="name?.errors?.['required']">Tên thuộc tính không được để trống.</div>
        <div *ngIf="name?.errors?.['pattern']">Tên thuộc tính không được chứa số hoặc ký tự đặc biệt.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea 
        id="description" 
        formControlName="description" 
        placeholder="Nhập mô tả thuộc tính"
      ></textarea>
      <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="error-message">
        <div *ngIf="description?.errors?.['required']">Mô tả không được để trống.</div>
        <div *ngIf="description?.errors?.['pattern']">Mô tả không được chứa ký tự đặc biệt.</div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" >Tạo mới</button>
    </div>
  </form>
</div>