<div class="container">
    <div class="sidebar">
        <div class="profile">
            <i class="fas fa-user-circle"></i>
            <h3>LÊ N</h3>
        </div>
        <ul>
            <li routerLink="/account/information" class="active"><i class="fas fa-user"></i> Thông tin tài khoản</li>
            <li routerLink="/account/order"><i class="fas fa-box"></i> Quản lý đơn hàng</li>
            <li (click)="OnClickLogout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</li>
        </ul>
    </div>

    <div class="content" *ngIf="isClickedInformation">
        <app-account-information></app-account-information>
    </div>

    <div class="order-container" *ngIf="isClickedOrder">
        <app-account-order (isDisplayOrderDetailEmitter)="DisplayOrderDetail($event)"></app-account-order>
    </div>
</div>
<div class="overlay" *ngIf="isDisplayOverlay" (click)="DisplayOverlay(false)"></div>
<app-orderdetail class="order-detail-component " *ngIf="isDisplayOrderDetail"
    [receivedOrderId]="orderID"></app-orderdetail>